body{
    background-color: rgb(47,50,63);
}

.card{
    background-color:rgb(100,100,124);
    border-top: 10px solid rgb(100,100,124);
}

h1{
    background-color:rgb(100,100,124);
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
}
#pokemon-name{
    color: rgb(43,50,63);
    font-weight: bold;
    font-size: 3vw;
}

#search-card{
    font-family: "press Start 2P",system-ui;
}

#search-label{
    color: rgb(196, 159, 59);
}

#pokemon-sprite{
    image-rendering: pixelated;
}

#versus-text{
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
    font-size: 5vw;
}

#result-text{
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
}

#restart{
    background-color: rgb(100,100,124);
    border-color: rgb(196, 159, 59);
}

.img-thumbnail{
    background-color: rgb(47,50,63);
    border-width: 0px;
}