body{
    background-color: rgb(47,50,63);
}

.card{
    background-color:rgb(100,100,124);
}

h1{
    background-color:rgb(100,100,124);
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
}
#pokemon-name{
    color: rgb(43,50,63);
}
#answer-label{
    color: rgb(196, 159, 59);
}

#pokemon-sprite{
    image-rendering: pixelated;
}