body{
    background-color: rgb(47,50,63);
}
.card{
    background-color:rgb(100,100,124);
    color: rgb(47,50,63);
    font-weight: bold;
    

}
#pokemon-card-holder .card{
    border-top: 10px solid rgb(100,100,124);
}

h1{
    background-color:rgb(100,100,124);
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
}

#pokemon-card{
    scale: 1;
    transition: scale 0.2s;
}

#pokemon-card:hover{
    scale: 1.01;
    transition: scale 0.2s;
}

#pokemon-card-holder .shiny-card{
   border-top: 10px solid goldenrod;
   background-color: goldenrod;
}

.shiny-card .type-card{
    border: solid 2px rgb(47,50,63);
    border-radius: 5px;
}


#search,#htp-title,#thanks{
    font-family: "press Start 2P",system-ui;
}

#pokemon-sprite{
    image-rendering: pixelated;
}

#versus-text{
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
    font-size: 5vw;
}


#result-text{
    font-family: "press Start 2P",system-ui;
}

#restart{
    background-color: rgb(100,100,124);
    border-color: rgb(196, 159, 59);
}

.img-thumbnail{
    background-color: rgb(47,50,63);
    border-width: 0px;
}

#htp-title{
    color: rgb(196, 159, 59);
    font-family: "press Start 2P",system-ui;
}

#shoutout a,#thanks a{
    color: rgb(39, 84, 138);
    text-decoration: none;
    font-family: "press Start 2P",system-ui;
}
#shoutout a:hover,#thanks a:hover{
    color: rgb(196, 159, 59);
    text-decoration: underline;
}
